Repository ita-social-projects/GreenCity, pull requests merged in 2022-12, with the labels that each got.

#4776 [GreenCity] - Create tests for EventsController #4736
  core/pom.xml
  core/src/test/java/greencity/controller/EventsControllerTest.java
Labels: Technical tasks, back-end, dependencies, Test, Events, GreenCity

#4815 [My events] Create Swagger UI events controller #4778
  core/src/main/java/greencity/config/SecurityConfig.java
  core/src/main/java/greencity/controller/EventsController.java
  core/src/test/java/greencity/controller/EventsControllerTest.java
  dao/src/main/java/greencity/repository/EventRepo.java
  service-api/src/main/java/greencity/service/EventService.java
  service/src/main/java/greencity/service/EventServiceImpl.java
  service/src/test/java/greencity/service/EventServiceImplTest.java
Labels: back-end, GreenCityEvent, My Events

#4777 Add tests for EventsController methods
  core/src/main/java/greencity/controller/EventsController.java
  core/src/test/java/greencity/controller/EventsControllerTest.java
Labels: Technical tasks, back-end, Test, Events, GreenCity
