Repository ita-social-projects/GreenCity, pull requests merged in 2024-04, with the labels that each got.

#7061 change commentText to request body and add validation
  core/src/main/java/greencity/controller/EventCommentController.java
Labels: GreenCityEvent, java

#7079 Improved query of getting user's friends with number of mutual friends
  dao/src/main/java/greencity/entity/User.java
Labels: back-end, Friend list

#7086 Fix authorities for admin and service manager position
  dao/src/main/resources/db/changelog/db.changelog-master.xml
  dao/src/main/resources/db/changelog/logs/ch-delete-from-positions_authorities_mapping-authority-for-admin-position-Kizerov.xml
  dao/src/main/resources/db/changelog/logs/ch-delete-from-positions_authorities_mapping-authority-for-service-manager-position-Kizerov.xml
Labels: back-end, Bug, UBS courier, Admin. Employee, UBS admin, Employees

#7087 commit with changing time validation rules for events
  core/src/main/java/greencity/validator/EventDtoRequestValidator.java
Labels: Events
