Repository ita-social-projects/GreenCity, pull requests merged in 2024-05, with the labels that each got.

#7152 Adds logic to send friend request to user via email notification
  core/src/main/java/greencity/config/SecurityConfig.java
  core/src/main/java/greencity/constant/HttpStatuses.java
  core/src/main/java/greencity/constant/RedirectUrl.java
  core/src/main/java/greencity/controller/HabitAssignController.java
  core/src/main/resources/application-test.properties
  core/src/test/java/greencity/controller/HabitAssignControllerTest.java
  service-api/src/main/java/greencity/client/RestClient.java
  service-api/src/main/java/greencity/constant/RestTemplateLinks.java
  service-api/src/main/java/greencity/message/HabitAssignNotificationMessage.java
  service-api/src/main/java/greencity/service/HabitAssignService.java
  service-api/src/main/java/greencity/service/NotificationService.java
  service-api/src/test/java/greencity/ModelUtils.java
  service-api/src/test/java/greencity/client/RestClientTest.java
  service/src/main/java/greencity/service/HabitAssignServiceImpl.java
  service/src/main/java/greencity/service/NotificationServiceImpl.java
  service/src/test/java/greencity/service/HabitAssignServiceImplTest.java
  service/src/test/java/greencity/service/NotificationServiceImplTest.java
Labels: back-end, email, Notifications

#7169 add not blank&empty validation to description
  service-api/src/main/java/greencity/dto/event/UpdateEventRequestDto.java
Labels: back-end, Bug, API

#7176 Fixed rest client logic to adds headers
  service-api/src/main/java/greencity/client/RestClient.java
  service-api/src/test/java/greencity/client/RestClientTest.java
Labels: back-end

#7177 Adds logic to send notification if user tagged another user in comments
  core/src/main/java/greencity/constant/RedirectUrl.java
  core/src/main/java/greencity/controller/HabitAssignController.java
  core/src/test/java/greencity/controller/HabitAssignControllerTest.java
  service-api/src/main/java/greencity/constant/EmailNotificationMessagesConstants.java
  service/src/main/java/greencity/service/EventCommentServiceImpl.java
  service/src/test/java/greencity/service/EventCommentServiceImplTest.java
Labels: Bug, Comments
