Repository ita-social-projects/GreenCity, pull requests merged in 2025-02, with the labels that each got.

#8107 doc: update README. remove unused pictures.
  README.md
  docs-photos/auth-bearer.png
  docs-photos/auth.png
  docs-photos/authentication-swagger.png
  docs-photos/pict1.png
  docs-photos/pict2.png
  docs-photos/signin_access.png
  docs-photos/signin_bearer1.jpg
  docs-photos/signin_bearer2.jpg
  docs-photos/signup.png
Labels: type: enhancement, GreenCity

#8078 Bugfix #6020 - Fixed functionality for inviting friends to join custom habits during its creation
  service-api/src/main/java/greencity/dto/habit/CustomHabitDtoRequest.java
  service/src/main/java/greencity/service/HabitServiceImpl.java
  service/src/test/java/greencity/ModelUtils.java
  service/src/test/java/greencity/service/HabitServiceImplTest.java
Labels: Create habit

#7899 BREAKING CHANGE: change EventTime enum
  core/src/main/resources/templates/core/management_events.html
  dao/pom.xml
  dao/src/main/java/greencity/repository/impl/EventSearchRepoImpl.java
  dao/src/test/java/greencity/ModelUtils.java
  dao/src/test/java/greencity/repository/impl/EventSearchRepoImplTest.java
  dao/src/test/java/greencity/repository/util/PostgresInitializer.java
  service-api/src/main/java/greencity/enums/EventTime.java
Labels: Events, Filter
